.container {
  max-width: 1920px;
  height: auto;
  background-color: #fff;
  margin-top: 60px;
  border-radius: 10px;

  h2 {
    font-size: 32px;
    padding: 20px 0 0 20px;
    color: #6c6c6c;
    margin-bottom: 40px;
    text-align: center;
  }
  h3 {
    font-size: 28px;
    padding: 20px 0 0 20px;
    color: #6c6c6c;
  }
  .line {
    margin-top: 20px;
    width: 100%;
    border-bottom: 2px solid #acacac;
  }

  // FILL INFORMATION
  .adProductform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 80px;
    .form1 {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 35px;

      label {
        font-size: 24px;
        padding-bottom: 15px;
      }

      input {
        max-width: 500px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid;
        padding-left: 15px;
        font-size: 18px;
      }

      select {
        max-width: 500px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid;
        font-size: 18px;
        padding-left: 15px;

        option {
          font-size: 18px;
        }
      }

      .errorInput {
        color: red;
      }

      .errorText {
        color: red;
      }
    }
  }

  // UPDATE IMG
  .update_img {
    margin-top: 35px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .errorInput {
      color: red;
    }

    .errorText {
      color: red;
    }

    .main_image {
      margin-bottom: 40px;
      label {
        font-size: 24px;
        padding-bottom: 10px;
      }

      .upImg {
        position: relative;
        padding-top: 15px;
      }
      button {
        position: absolute;
        top: 10px;
        left: 190px;
        font-size: 15px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(228, 112, 112);
      }
    }

    .details_image {
      label {
        font-size: 24px;
        padding-bottom: 10px;
      }

      .upImg {
        position: relative;
        padding-top: 15px;
      }
      button {
        position: absolute;
        top: 10px;
        left: 110px;
        font-size: 15px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(228, 112, 112);
      }
    }
  }
  .submit {
    color: #000;
    margin: 50px 0 50px 80px;
    font-size: 22px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #cfcfcf;
    border: none;

    &:hover {
      color: #fff;
      background: rgba(3, 3, 3, 0.25);
      backdrop-filter: brightness(0.4);
      cursor: pointer;
    }
    &:disabled {
      background: #ccc;
      color: #666;
      cursor: not-allowed;
      opacity: 0.8;
    }
  }
  .btn {
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      background: rgba(109, 109, 109, 0.25);
      backdrop-filter: brightness(0.4);
    }
  }
}
