/* BEGIN: header layout */
.container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    .sliderWrapper {
        margin-top: 102px;
        display: flex;
        transform: translateX(calc(var(--current-index) * -101%));
        transition: transform 0.5s ease-in-out;

            .banner {
                position: relative;
                img {
                    display: block;
                }
                .title {
                    position: absolute;
                    top: 400px;
                    left: 200px;
                    color: #fff;
                    h2 {
                        font-size: 60px;
                        font-family: 'Barlow', sans-serif;
                        font-weight: 500;
                    }
                    h3 {
                        font-size: 40px;
                        font-family: 'Barlow', sans-serif;
                        font-weight: 300;
                    }
                    button {
                        margin-top: 70px;
                        padding: 20px 55px;
                        font-size: 40px;
                        background: transparent;
                        color: #fff;
                        border: 2px #fff solid;
                        border-radius: 8px;
                        font-weight: 400;
                        font-family: 'Barlow', sans-serif;
                        position: relative;;
                        overflow: hidden;  
                        cursor: pointer;
                        transition: color 0.4s ease; 
                        z-index: 1; 


                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: -100%;          
                            width: 100%;
                            height: 100%;
                            background: #fff ;
                            transition: right 0.4s ease;
                            z-index: -1;
                        }
                        &:hover {
                            color: #000;
                        }
                        &:hover::before {
                            right: 0;              
                        }
                    }
                }
            }
    }
    .dots{
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 25px;
        gap: 40px
    }
        .dot {
            height: 30px;
            width: 30px;
            background-color: transparent;
            border: 3px solid #fff;
            border-radius: 100%;
            cursor: pointer;
            &.active {
                background-color: #f2f2f2;
            }
            
        }  
}

/* BEGIN: section layout */
.introprd {
    margin-inline: 110px;
        
    &__section-1 {
        margin-top: 155px;
        display: flex;
        gap: 25px;
        text-align: center;
        margin-bottom: 160px;

        .card {
            overflow: hidden;
            border-radius: 20px;
            height: 650px;
            position: relative;
            
            h2 {
                position: absolute;
                bottom: 120px;
                left: 67px;
                font-size: 60px;
                color: #fff;
                font-weight: 400;
            }
            p {
                position: absolute;
                bottom: 90px;
                left: 67px;
                font-size: 25px;
                color: #fff;
                font-weight: 400;
            }
            span {
                position: absolute;
                right: 60px;
                bottom: 70px;
                color: #fff;
                font-size: 40px;
                transition: transform 0.9s;
            }
            img {
                transition: transform 0.9s;
            }

            &:hover {
                cursor: pointer;
                img {
                    transform: scale(1.1); 
                }
                span {
                    transform: rotate(90deg);
                }
            }
        }

        .wrapper {
            height: 500px;
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            
            img {
                transition: transform 0.9s;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
            span {
                position: absolute;
                top: 20px;
                right: 15px;
                color: #EB0932;
            }
        }

        h3 {
            font-size: 42px;
            font-weight: 500;
        }
        p {
            font-size: 24px;
        }
    }

    &__section-2 {
        .line {
                border: 1px solid #e9e9e9;
                margin-bottom: 60px;
            }
        h2 {
            margin-bottom: 40px;
        }
        .cardbeans {
            display: flex;
            overflow: hidden;
            gap: 41px;
        }

        .card {
            text-align: center;
            h3 {
                font-size: 32px;
                font-weight: 500;
                margin-top: 15px;
            }
            p {
                font-size: 20px;
                color: #555;
            }
        }

        .wrapper {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            width: 390px;
            height: 390px;
            
            .outOfStockLabel {
                position: absolute;
                z-index: 10;
                right: 40px;
                top: 20px;
                background-color: #000;
                color: #fff;
                border-radius: 5px;
                padding: 5px;
                font-size: 12px;
            }
            
            .btn {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translate(-50%);
                width: 150px;
                height: 50px;
                background-color: #fff;
                border: 2px solid #fff;
                border-radius: 18px;
                font-size: 18px;
                font-weight: 400;
                visibility: hidden;
                opacity: 0;
                z-index: 10;
                transition: 
                    opacity 0.4s ease,
                    transform 0.4s ease;
                &:disabled {
                    background-color: #ccc;
                    color: #666;
                    cursor: not-allowed; 
                    border: 1px solid #999;
                }
            }

            img {
                width: 390px;
                height: auto;
                transition: transform 0.9s;
                z-index: 5;
                border-radius: 20px;
                cursor: pointer;
            }
            
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .btn {
                    opacity: 1;
                    visibility: visible;
                    
                    &:not(:disabled):hover {
                        background-color: #000;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }

            &.forceShow .btn {
                opacity: 1;
                visibility: visible;
                bottom: 30px;
                background-color: #000;
                color: #fff;
            }

        }
    }
}
// END: section layout //

// BEGIN : EXPOLORE layout
.explore {
    margin-inline: 110px;
    
    h2 {
        margin-top: 100px;
        font-size: 50px;
        font-weight: 400;
    }
    
    .girdlayout {
        margin-top: 130px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 100px;
        gap: 20px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img:nth-child(1) {
            grid-row: span 2;
        }
        img:nth-child(3) {
            grid-row: span 2;
            grid-column-start: 2;
        }  
        img:nth-child(4) {
            grid-row-start: 3;
        } 
    }
}
// END : EXPOLORE layout

// BEGIN : BLOG layout
.blog {
    margin-inline: 110px;
    
    .line {
        border: 2px solid #e9e9e9;
        margin-bottom: 60px;
    }
    h2 {
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 100px;
    }
    
    &__card {
        display: flex;
        gap: 30px;
        margin-bottom: 100px;

        p {
            font-size: 15px;
            margin-top: 10px;
        }
        p:last-child {
            font-size: 30px;
            font-weight: 500;
            margin-top: 5px;
        }
    }
}
// END : BLOG layout